@import "tailwindcss";

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px;
}

.progress-shrink {
  animation: shrink 6s linear forwards;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}